@import url("https://fonts.cdnfonts.com/css/somar-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkGaryColor: #34302c;
  --themeColor: #987032;
  --grayColor: #b2adab;
  --grayLight: #e6e1db;
}

body {
  font-family: "Somar Sans", sans-serif;
  font-size: 1.25rem;
  color: var(--darkGaryColor);
  background-color: var(--grayColor);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  display: block;
  width: 100%;
}
.pt-6 {
  padding-top: 100px !important;
}

.section-title {
  width: fit-content;
  margin: auto;
}

.section-title h2 {
  padding-bottom: 0.875rem;
  font-size: 2.625rem;
  position: relative;
  text-align: center;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--themeColor);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 0.15;
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

#about,
#projects,
#services,
#partners,
#contact-us {
  padding: 115px 0;
  overflow: hidden;
}

.btn {
  font-family: "Somar Sans", sans-serif;
  text-align: center;
  border: none;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn.btn-primary {
  background-color: var(--themeColor);
  color: var(--grayLight);
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn.btn-primary:hover {
  background-color: rgb(67.9714285714, 47.0571428571, 35.7285714286);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.btn.btn-secondary {
  background-color: var(--darkGaryColor);
  color: #ffffff;
  border-color: var(--themeColor);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn.btn-secondary:hover {
  background-color: rgb(133.5335968379, 98.5217391304, 72.4664031621);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.btn.btn-gradient {
  background: linear-gradient(144deg, #4e3629, #a67b5b);
  color: #ffffff;
}

.btn.btn-gradient:hover {
  background: linear-gradient(
    144deg,
    rgb(111.4285714286, 77.1428571429, 58.5714285714),
    rgb(183.9407114625, 149.6086956522, 124.0592885375)
  );
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--darkGaryColor) !important;
}

.text-secondary {
  color: var(--darkGaryColor) !important;
}

.text-light {
  color: var(--grayLight) !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-dark {
  background-color: var(--themeColor);
  color: var(--darkGaryColor);
}

.section-light {
  background-color: var(--grayLight);
}

.section-highlight {
  background: linear-gradient(90deg, #4e3629 0%, #a67b5b 100%);
  background-size: cover;
  color: var(--darkGaryColor);
  border-radius: 16px;
}

html[dir="ltr"] .me-2 {
  margin-right: 0.5rem !important;
  margin-left: 0 !important;
}

html[dir="ltr"] .active::after,
html[dir="ltr"] .nav-link::after {
  left: 0;
  right: unset;
}

html[dir="ltr"] #contact-us form [type="tel"] {
  direction: ltr;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grayLight);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loader img {
  width: 130px;
  margin-left: 30px;
}

#loader .spinner-border {
  width: 40px;
  height: 40px;
}

body.loaded #loader {
  display: none;
}

body:not(.loaded) .content {
  visibility: hidden;
}

.HeroSection {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.HeroSection.carousel-inner {
  height: 100%;
}

.HeroSection .carousel-item {
  position: relative;
}

.HeroSection .carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.HeroSection .carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.3) 80%
  );
  z-index: 1;
}

.HeroSection .carousel-item .carousel-caption {
  z-index: 2;
  text-align: center;
  padding: 0 15px;
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
}

.HeroSection .carousel-item .carousel-caption h1 {
  font-size: 3rem;
  color: var(--grayLight);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.HeroSection .carousel-item .carousel-caption p {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--grayLight);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
  font-family: "Somar Sans", sans-serif;
  font-size: 1.25rem;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;
  border-bottom: none;
  height: 100px;
  padding: 8px 0;
}

.navbar.scrolled {
  background-color: var(--darkGaryColor);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .language-toggle {
  color: var(--grayLight);
}

.navbar img {
  width: auto;
  height: 84px;
}

.navbar .nav-link,
.navbar .language-toggle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grayLight);
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar .nav-link:hover,
.navbar .language-toggle:hover {
  color: var(--grayLight);
}

.navbar .active {
  color: #e6e1db !important;
  position: relative;
}

.navbar .nav-link:hover,
.navbar .language-toggle:hover {
  color: var(--grayLight) !important;
}

.navbar .nav-link {
  position: relative;
  padding: 0 !important;
  margin: 0px 10px;
}

.navbar .active::after,
.navbar .nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--grayLight);
  position: absolute;
  border-radius: 10px;
  bottom: -10px;
  right: 0;
  transition: all 0.5s;
}

.navbar .active::after,
.navbar .nav-link:hover:after {
  width: 80%;
}

@media (max-width: 992px) {
  .navbar .navbar-container {
    position: fixed;
    background: #fff;
    left: -230px;
    top: 0;
    height: 100vh;
    width: 230px;
    padding: 70px 20px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease-in-out;
  }
  .navbar .navbar-container.open-menu-container {
    left: 0;
  }
  .navbar .open-menu-container .nav-link,
  .navbar .open-menu-container .language-toggle {
    color: #000;
  }
  .navbar.scrolled .toggle-menu span {
    background-color: #4e3629;
  }
  .navbar .toggle-menu {
    display: block;
    width: 52px;
    height: 32px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .navbar .toggle-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 70%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .navbar .toggle-menu span:nth-child(1) {
    top: 0;
  }
  .navbar .toggle-menu span:nth-child(2),
  .navbar .toggle-menu span:nth-child(3) {
    top: 12px;
  }
  .navbar .toggle-menu span:nth-child(4) {
    top: 24px;
  }
  .navbar .toggle-menu.open {
    z-index: 1;
    position: absolute;
    left: 150px;
  }
  .navbar .toggle-menu.open span {
    background-color: #4e3629;
  }
  .navbar .toggle-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    right: 50%;
  }
  .navbar .toggle-menu.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  .navbar .toggle-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .navbar .toggle-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    right: 50%;
  }
  .navbar .navbar-nav .nav-item {
    padding: 0;
    font-size: 1.5rem !important;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 0;
  }
  .navbar .navbar-nav .nav-item:hover:after,
  .navbar .navbar-nav .nav-item.active::after {
    width: 50px;
  }
}

.AboutSection {
  background-color: #f8f5f2; 
}

#about .section-title p {
  color: var(--darkGaryColor);
}

.about-image {
  border-radius: 4px;
}

.about-image img {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-image:hover img {
  transform: scale(1.1);
}

.about-content p {
  color: var(--darkGaryColor);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.about-content a.btn-gradient {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content a.btn-gradient:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* projectsSection */
.projectsSection {
  background-color: #fff;
  position: relative;
}

.projectsSection .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.projectsSection .carousel-inner {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  height: 470px;
}

.projectsSection .carousel-item {
  height: 100%;
}

.projectsSection .carousel-item img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.projectsSection .carousel-item img:hover {
  transform: scale(1.1);
}

.projectsSection #carouselElwaha .carousel-inner .carousel-item img {
  object-fit: fill !important;
}

.projectsSection p {
  line-height: 1.8;
}

.projectsSection .project {
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--grayColor);
}

.projectsSection .project .action-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.projectsSection .project:last-child {
  border-bottom: none;
}

.projectsSection .nav-tabs button.nav-link {
  color:var(--darkGaryColor);
}

@media (max-width: 576px) {
  .projectsSection .nav-tabs button.nav-link {
    font-size: 1rem;
  }
}

.projectsSection .nav-tabs button.nav-link.active {
  color: var(--darkGaryColor);
}



#contact-us .contact-details {
  font-size: 1.125rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
}

#contact-us .contact-details .phone-number span {
  direction: ltr;
}

@media (max-width: 992px) {
  #contact-us .contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

#contact-us .contact-details div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#contact-us .contact-details div a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 992px) {
  #contact-us .contact-details div {
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}

#contact-us .contact-details i {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #4e3629;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#contact-us .contact-details i:hover {
  background-color: #4e3629;
  color: #fff;
}

#contact-us .contact-details span {
  flex-grow: 1;
  text-align: left;
}

#contact-us form [type="tel"] {
  direction: rtl;
}

#contact-us .map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

#contact-us .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#contact-us form label {
  font-size: 18px;
}

#services .service-icon {
  font-size: 2.25rem;
  width: 120px;
  height: 120px;
  border: 8px solid var(--themeColor);
  border-radius: 50%;
  transition: all 0.5s;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#services .service-box:hover .service-icon {
  color: #fff;
  background-color: rgb(161.5714285714, 111.8571428571, 84.9285714286);
  border-color: rgb(210.8517786561, 189.5217391304, 173.6482213439);
}

#partners {
  background-color: #fff;
  position: relative;
  padding: 5rem 0;
}

#partners .section-title {
  margin-bottom: 3rem;
}

#partners .section-title h2 {
  font-size: 2.5rem;
}

#partners .section-title p {
  font-size: 1.25rem;
  color: #543e2e;
}

#partners .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#partners .swiper .swiper-slide img {
  height: 100px;
  object-fit: contain;
}

#partners .swiper .swiper-slide h5 {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--darkGaryColor);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  height: 97px;
  background-color: var(--themeColor);
  color: #fff;
}

footer img {
  width: 120px;
}

.section-title,
.patterns-carousel {
  position: relative;
}

.section-title .pattern,
.patterns-carousel .pattern {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.required {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
